body{
   background-image:url('../img/large-banner-image.png');
   background-repeat: no-repeat;
   background-position: center top;
}

span {
   vertical-align:-16px;
   display: inline-block;
   font: 60px Pacifico, sans-serif;
   font-weight: 400;
}

img {
  display: inline-block;
  margin: 17px;
}

h1 {
   margin: 75px 0;
   text-align: center;

}

h2 {
   font: 22px Raleway, sans-serif;
   font-weight: 700;

}

p {
   font: 36px Raleway, sans-serif;
   font-weight: 300;
   text-align: center;
   line-height: 10px
}

.Phone  {
   text-align: center;
   position: relative;
   top: 55px;
}



.content-alt  {
   text-align:left;
   position: relative;
   margin-left: 300px;
   top: -425px;
}

.content-alt2  {
   text-align:left;
   position: relative;
   margin-left: 300px;
   top: -490px;
}

.content  {
   text-align:left;
   position: relative;
   margin-left: 1000px;
   top: -541px;
}

.content2  {
   text-align:left;
   position: relative;
   margin-left: 1000px;
   top: -606px;
}


.Image  {
   text-align: center;
}
